# permit only for database and storage
APPWRITE_API_KEY

# public appwrite api
NEXT_PUBLIC_APPWRITE_PROJECT_ID
NEXT_PUBLIC_APPWRITE_PROJECT_NAME 
NEXT_PUBLIC_APPWRITE_ENDPOINT
    
# appwrite bucket id
APPWRITE_BUCKET_ID 
# appwrite db id 
APPWRITE_DATABASE_ID
# appwrite collection id
APPWRITE_COLLECTION_ID 